{% extends 'base.html' %}

{% block title %}
{{ blog.title }}
{% endblock title %}


{% block body %}


<style>

.blog-container {
    max-width: 850px;
}


.post-card {
    border-radius: 20px;
    overflow: hidden;
}


.author-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}


.blog-title {

    font-size: 2.2rem;
    font-weight: 700;

}


.blog-description {

    font-size: 1.15rem;
    line-height: 1.8;

}


/* Image gallery */

.image-grid {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}


.blog-image {

    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:15px;
    cursor:pointer;
    transition:0.3s;

}


.blog-image:hover {

    transform:scale(1.03);

}



@media(max-width:768px){

    .image-grid {

        grid-template-columns:1fr;

    }


    .blog-title {

        font-size:1.7rem;

    }

}



</style>





<div class="container py-5 blog-container">



<div class="card shadow-lg border-0 post-card">



<div class="card-body p-4 p-md-5">





<!-- Author Section -->

<div class="author-area mb-4">


<h6 class="text-muted mb-1">

👤 {{ blog.authname }}

</h6>


<small class="text-secondary">

📅 {{ blog.timeStamp|date:"F j, Y, g:i a" }}

</small>


</div>





<!-- Blog Title -->


<h1 class="blog-title mb-4">

{{ blog.title }}

</h1>





<!-- Blog Content -->


<div class="blog-description text-dark mb-5">


{{ blog.description|linebreaks }}


</div>







<!-- Multiple Images -->

{% with photos=blog.images.all %}
{% if photos %}
<h5 class="fw-bold mb-3">📸 Photos</h5>
<div class="image-grid">
    {% for image in photos %}
    <a href="{{ image.image.url }}" target="_blank">
        <img src="{{ image.image.url }}" class="blog-image shadow-sm" alt="{{ blog.title }}">
    </a>
    {% endfor %}
</div>
{% endif %}
{% endwith %}





<!-- Back Button -->


<div class="mt-5 text-end">


<a href="{% url 'handleBlog' %}"

class="btn btn-outline-dark btn-lg rounded-pill px-4">


⬅ Back to All Blogs


</a>



</div>





</div>


</div>



</div>



{% endblock body %}